.single-field-form
    display: flex
    flex-direction: row
    align-items: center
    margin-bottom: 24px
    &__text
        color: #222222
        font-size: 20px
        line-height: 24px
        font-family: 'Noto Sans', sans-serif
        font-weight: 400
    &__button
        background: none
        display: flex
        justify-content: center
        align-items: center
        margin-left: 12px
        width: 20px
        height: 20px
        .edit-icon
            height: 100%
            width: 100%
            path
                fill: #82B284!important
                transition: all .2s ease-in-out
        &:hover
            .edit-icon
                path
                    fill: #98C88C!important